In [3]:
import pandas as pd
from pandas import Series, DataFrame
data={'Chinese':[66, 95, 93, 90, 80, 80], 'English': [65, 85, 92, 88, 90, 90],
        'Math': [None, 98, 96, 77, 90, 90]}
df=DataFrame(data,index=['Zhangfei', 'Gunayu', 'Zhaoyu', 'Huangzhong', 'Dianwei', 'Dianwei'],
            columns=['English', 'Math', 'Chinese'])

In [4]:
df=df.drop_duplicates()

In [5]:
df

            English  Math  Chinese
Zhangfei         65   NaN       66
Gunayu           85  98.0       95
Zhaoyu           92  96.0       93
Huangzhong       88  77.0       90
Dianwei          90  90.0       80

In [6]:
df.isnull()

            English   Math  Chinese
Zhangfei      False   True    False
Gunayu        False  False    False
Zhaoyu        False  False    False
Huangzhong    False  False    False
Dianwei       False  False    False

In [8]:
df.fillna(df['Math'].mean(),inplace=True)

In [9]:
df

            English   Math  Chinese
Zhangfei         65  90.25       66
Gunayu           85  98.00       95
Zhaoyu           92  96.00       93
Huangzhong       88  77.00       90
Dianwei          90  90.00       80

In [15]:
def total(df):
    df['total']=df['Chinese']+df['Math']+df['English']
    return df
df=df.apply(total,axis=1)
df

            English   Math  Chinese   total
Zhangfei       65.0  90.25     66.0  221.25
Gunayu         85.0  98.00     95.0  278.00
Zhaoyu         92.0  96.00     93.0  281.00
Huangzhong     88.0  77.00     90.0  255.00
Dianwei        90.0  90.00     80.0  260.00